@{
    ViewBag.Title = "Europe";
}
<link href="~/Content/themes/base/all.css" rel="stylesheet" type="text/css" />

    <div class="col-sm-4">
        <br />
        <label for="dateSelector">Month and year :</label>
        <input name="dateSelector" class="monthYearPicker" />
    </div>
    <div class="col-sm-8">
        <div id="vmap" style="width: 800px; height: 600px;"></div>
    </div>
@section scripts {
    <script src="~/Scripts/jquery.vmap.js"></script>
    <script src="~/Scripts/jquery.vmap.europe.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>

    <script type="text/javascript">
        // Function generating random RGB color
        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        // Datepicker
        $(function () {
            $('.monthYearPicker').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'yy-m'
            }).focus(function () {
                var thisCalendar = $(this);
                $('.ui-datepicker-calendar').detach();
                $('.ui-datepicker-close').click(function () {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    thisCalendar.datepicker('setDate', new Date(year, month, 1));
                });
            });
        });

        var topLangPerCountry = {};
        $.ajax({
            url: '/api/OverviewAPI/' + '2015-5',
            type: 'GET',
            dataType: 'JSON'
        }).done(function (data) {
            for (var i = 0; i < data.length; ++i) {
                var country = data[i]["CountryCode"];
                var language = data[i]["Language"];
                topLangPerCountry[country] = language;
            }

            // Random generated color association for each of the languages ("null" default to white)
            var colorAssociation = { "null": "#F0F0F0" };
            for (cc in topLangPerCountry) {
                var language = topLangPerCountry[cc];
                if (!colorAssociation.hasOwnProperty(language)) {
                    var randomColor;
                    // Avoid white or bg color
                    do {
                        randomColor = getRandomColor();
                    } while (randomColor === "#02587D" || randomColor === "#F0F0F0");
                    colorAssociation[language] = randomColor;
                }
            }

            /*
            var colorAssociation = {
                "java": "#B30000",
                "javascript": "#F6A400",
                "cobol": "#4429CC",
                "python": "#882D60",
                "null": "#F0F0F0"
            };*/

            var colors = {};

            // Change country color based on top spoken of language
            for (cc in topLangPerCountry) {
                colors[cc] = colorAssociation[topLangPerCountry[cc]];
            }

            jQuery('#vmap').vectorMap(
            {
                map: 'europe_en',
                backgroundColor: '#02587D',
                borderWidth: 3,
                colors: colors,
                hoverOpacity: 0.7,
                hoverColor: false,
                onRegionClick: function (element, code, region) {
                    // TODO This is shit obviously
                    var message = "The most popular language in the selected timespan in "
                    + region + " is " + topLangPerCountry[code].toUpperCase();
                    alert(message);
                },
                enableZoom: false, // Can't zoom anyways on this Europe map
                showTooltip: false
            });
        }).fail(function () {
            alert("Fail!");
        });
    </script>
}
